.option{
    background-color: black;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
}

.corretc{
    background-color: #20bb34;
    font-weight: bold;
}

.wrong{
    background-color: #6b1411;
    opacity: 0.7;
}