.option{
    background-color: rgb(31, 29, 29);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
}

.corretc{
    background-color: #0d5516;
    font-weight: bold;
}

.wrong{
    background-color: #410402;
    opacity: 0.9;
}

.hide{
    display: none;
}